@import "../fonts/fonts.css";


/* --- CSS RESET --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* --- MAIN STYLES START --- */
body {
  font-family: "Poppins", sans-serif, FontAwesome;
  background: linear-gradient(
    -45deg,
    #030712,
    #063648,
    #006973,
    #029e83,
    #81d07a,
    white
  );
  background-position: center;
  background-attachment: fixed;
}

main {
  height: 100%;
  width: 100%;
}

/* --- SIDENAV START --- */
#sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  padding-top: 25px;
  z-index: 1;
  font-size: 1.12rem;
  background: rgba(33, 33, 33, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 1px 0 10px 2px black;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#sidenav.active {
  transform: translateX(0%);
}

#mobile-toggle-btn {
  display: none;
  cursor: pointer;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo svg{
  position: relative;
  left: 30px;
  margin-bottom: 10px;
}

#logo-line {
  width: 10%;
  padding-left: 50px;
  padding-bottom: 8px;
}

#logo-line span {
  font-size: 25px;
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    #029e83 20%,
    #006973 40%,
    #006973 60%,
    #029e83 70%,
    #ffffff 100%
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#sidenav a {
  text-decoration: none;
  padding: 15px 30px;
  color: #e2f0ff;
  display: block;
  font-weight: 400;
  text-shadow: 1.5px 1.5px 3px black;
}

#sidenav a:first-of-type {
  margin-top: 15px;
}

#sidenav a:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(2, 158, 131) 20%,
    rgb(0, 105, 115) 40%,
    rgb(0, 50, 54) 60%,
    rgb(6, 54, 72) 70%,
    rgb(33, 33, 33) 100%
  );
}
/* --- SIDENAV END --- */

#cards-container {
  margin: 50px 305px;
  color: #030712;
}
/* --- MAIN STYLES END --- */


/* --- SONG SECTION STYLES START --- */
#song-cards {
  width: 100%;
}

#song-cards .card {
  background: linear-gradient(
  120deg,
    rgb(33, 33, 33) 0%,
    rgb(127, 110, 132, 0.7) 20%,
    rgb(230, 186, 209, 0.7) 40%,
    rgba(255, 255, 255) 50%,
    rgb(230, 186, 209) 60%,
    rgb(127, 110, 132, 0.7) 80%,
    rgb(33, 33, 33, 0.3) 100%
  );
  backdrop-filter: blur(20px);
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
}
/* --- SONG SECTION STYLES END --- */


/* --- ARTIST SECTION STYLES START --- */
#artist {
  background: rgba(33, 33, 33, 0.9);
  height: 420px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#artist-pic {
  width: 250px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
}

#artist-name{
  font-weight: bold;
  color: #e2f0ff;
  text-shadow: 2px 2px 5px black;
}

#artist-list {
  width: 400px;
}

#songlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#artist, .songs {
  border-radius: 7.5px;
}

.songs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  color: #e2f0ff;
}

.songs:hover {
  background: linear-gradient(
    120deg,
    rgb(33, 33, 33, 0.7) 0%,
    rgb(127, 110, 132, 0.7) 20%,
    rgb(230, 186, 209) 40%,
    rgb(255, 255, 255) 50%,
    rgb(230, 186, 209) 60%,
    rgb(127, 110, 132, 0.7) 80%,
    rgb(33, 33, 33, 0.7) 100%
  );
  color: #030712;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  cursor: pointer;
}

.album-pic {
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: inset 1px 1px 10px 1px white;
}
/* --- ARTIST SECTION STYLES END --- */


/* --- SEARCH PAGE START --- */
#search-container {
  position: absolute;
}

.search-bar {
  padding: 10px 10px 10px 40px;
  border: 2px solid #ddd;
  font-size: 16px;
  width: 250px;
  border-radius: 12px;
}

.search-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  color: #aaa;
}
/* --- SEARCH PAGE END --- */


/* --- LOADING SCREEN ANIMATION START --- */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
/* --- LOADING SCREEN ANIMATION END --- */


/* --- MOBILE BUTTON START --- */
#mobile-toggle-btn {
  position: relative;
  top: 20px;
  left: 20px;
  width: 80px;
  aspect-ratio: 1;
  background: url(../images/logo-sm.svg);
  zoom: 20%;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
}
/* --- MOBILE BUTTON START --- */


/* --- RESPONSIVITY START --- */
/* --- DESKTOP VIEWPORTS --- */
@media screen and (max-width: 1310px) and (min-width: 911px) {
  #artist-cards{
    flex-wrap: wrap;
  }
  
  #artist-list {
    width: 599px;
  }
  
  #songlist {
    padding: 25px 0 0 0;
  }

  #mobile-toggle-btn {
    display: none;
  }
}

/* --- TABLET VIEWPORTS --- */
@media screen and (max-width: 910px) and (min-width: 701px) {
  #artist-cards{
    flex-wrap: wrap;
  }

  #artist {
    height: 320px;
    width: 6000px;
    padding-top: 10px;
  }

  #artist-pic {
    width: 190px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
  }

  #artist-list {
    width: 500px;
  }

  #songlist {
    padding: 25px 0 0 0;
  }

  #mobile-toggle-btn {
    display: none;
  }
}



@media screen and (max-width: 670px) and (min-width: 651px) {
  #sidenav {
    width: 200px;
  }

  #sidenav a:first-of-type {
    margin-top: 80px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
    font-size: 1.2rem;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
  }

  #logo {
    display: block;
  }

  #logo svg {
    transform: translateX(30px);
  }

  #logo-line {
    transform: translateX(-15px);
  }

  #logo-line span {
    font-size: 2.5rem;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-90px);
  }

  #artist {
    height: 320px;
    width: 440px;
    padding-top: 10px;
    
  }

  #artist-pic {
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, -15px);
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
    transform: translateX(-10px);
  }

  #artist-list {
    width: 420px;
    
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.25rem;
  }
} 

@media screen and (max-width: 650px) and (min-width: 601px) {
  #sidenav {
    width: 200px;
  }

  #sidenav a:first-of-type {
    margin-top: 80px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
    font-size: 1.2rem;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
  }

  #logo {
    display: block;
  }

  #logo svg {
    transform: translateX(30px);
  }

  #logo-line {
    transform: translateX(-15px);
  }

  #logo-line span {
    font-size: 2.5rem;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-90px);
  }

  #artist {
    height: 320px;
    width: 400px;
    padding-top: 10px;
  }

  #artist-pic {
    width: 160px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, -15px);
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    font-size: 1.55rem;
    transform: translateX(-10px);
  }

  #artist-list {
    width: 400px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.3rem;
  }
} 

@media screen and (max-width: 600px) and (min-width: 551px) {
  #sidenav {
    width: 200px;
  }

  #sidenav a:first-of-type {
    margin-top: 80px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
    font-size: 1.2rem;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
  }

  #logo {
    display: block;
  }

  #logo svg {
    transform: translateX(30px);
  }

  #logo-line {
    transform: translateX(-15px);
  }

  #logo-line span {
    font-size: 2.5rem;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-90px);
  }

  #artist {
    height: 300px;
    width: 350px;
    padding-top: 10px;
  }

  #artist-pic {
    width: 135px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, -10px);
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
    transform: translate(-10px, 10px);
  }

  #artist-list {
    width: 350px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.25rem;
  }
} 

@media screen and (max-width: 550px) and (min-width: 501px) {
  #sidenav {
    width: 200px;
  }

  #sidenav a:first-of-type {
    margin-top: 80px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
    font-size: 1.2rem;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
  }

  #logo {
    display: block;
  }

  #logo svg {
    transform: translateX(30px);
  }

  #logo-line {
    transform: translateX(-15px);
  }

  #logo-line span {
    font-size: 2.5rem;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-90px);
  }

  #artist {
    height: 300px;
    width: 300px;
    padding-top: 10px;
  }

  #artist-pic {
    width: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, -10px);
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    font-size: 1.3rem;
    transform: translate(-10px, 10px);
  }

  #artist-list {
    width: 300px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.15rem;
  }
}


/* --- MOBILE VIEWPORTS --- */
@media screen and (max-width: 500px) and (min-width: 481px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 250px;
    width: 430px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 140px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, 0px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translate(-10px, 8px);
    font-size: 1.5rem;
  }

  #artist-list {
    width: 430px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) and (min-width: 451px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 405px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-10px, 10px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translateX(-10px);
    font-size: 1.4rem;
  }

  #artist-list {
    width: 405px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) and (min-width: 421px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 380px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 125px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-15px, 9px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translate(-15px, 0px);
    font-size: 1.35rem;
  }

  #artist-list {
    width: 380px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 420px) and (min-width: 381px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 350px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 110px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-13px, 13px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translateX(-13px);
    font-size: 1.35rem;
  }

  #artist-list {
    width: 350px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 380px) and (min-width: 351px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 320px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 110px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-17px, 9px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translate(-10px, -3px);
    font-size: 1.25rem;
  }

  #artist-list {
    width: 320px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 350px) and (min-width: 321px){
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 290px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 110px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-17px, 13px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translate(-10px, -3px);
    font-size: 1.2rem;
  }

  #artist-list {
    width: 290px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 320px) {
  #sidenav {
    width: 100%;
    font-size: 2rem;
  }

  #sidenav a:first-of-type {
    margin-top: 115px;
  }

  #sidenav a {
    padding: 20px 0 20px 42px;
  }

  #mobile-toggle-btn {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #logo {
    display: none;
  }

  #artist-cards{
    flex-wrap: wrap;
    transform: translateX(-255px);
  }

  #artist {
    height: 200px;
    width: 260px;
    margin-top: 70px;
  }

  #artist-pic {
    width: 110px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.8);
    transform: translate(-17px, 13px)
  }
  
  #artist-name{
    color: #e2f0ff;
    text-shadow: 2px 2px 5px black;
    transform: translate(-10px, -3px);
    font-size: 1.2rem;
  }

  #artist-list {
    width: 260px;
  }

  #songlist {
    padding: 25px 0 0 0;
    font-size: 1.15rem;
  }
}
/* --- RESPONSIVITY END --- */