@import "fonts/fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(3, 7, 18);
  background: rgb(3, 7, 18);
  background: linear-gradient(
    325deg,
    rgba(3, 7, 18, 1) 35%,
    rgba(2, 158, 131, 1) 45%,
    rgba(129, 208, 122, 1) 50%,
    rgba(237, 237, 108, 1) 57%,
    rgba(3, 7, 18, 1) 65%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

h1 img {
  width: 80px;
  height: 80px;
}

p {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}

.forgot-pw {
  font-size: 20px;
}

.gradient-text {
  background-color: 030712;

  background-image: linear-gradient(
    110deg,
    #ffffff 0%,
    #029e83 20%,
    #006973 40%,
    #003236 60%,
    #063648 70%,
    #000000 100%
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.container {
  background: rgba(250, 246, 246, 0);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  height: 750px;
}

/* Login form */
form {
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  width: 100%;
}
input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
  outline: none;
}
button {
  padding: 10px 20px;
  border-radius: 5px;

  color: black;
  border: none;
  cursor: pointer;
}

.login-button {
  background: linear-gradient(
    160deg,
    rgb(255, 255, 255) 0%,
    rgb(2, 158, 131) 40%,
    rgb(6, 54, 72) 60%,
    rgb(0, 0, 0) 100%
  );
  font-weight: bold;
}

.login-button a {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.gradient-hover:hover {
  background-color: 030712;

  background-image: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(2, 158, 131) 20%,
    rgb(0, 105, 115) 40%,
    rgb(0, 50, 54) 60%,
    rgb(6, 54, 72) 70%,
    rgb(0, 0, 0) 100%
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Social login buttons */
.social-login {
  margin-top: 20px;
  display: flex;
}
.social-login button {
  width: 33%;
  margin: 5px;
  background-color: #fff;
  border: none;
  padding: 10px 0;
}
/* Facebook */
.social-login button.facebook {
  background-color: #3b5898;
  color: #fff;
}
/* Google */
.social-login button.google {
  background-color: #c92c17;
  color: #fff;
}
/* Apple */
.social-login button.apple {
  background-color: #000;
  color: #fff;
  border: 1px solid lightgray;
}

.image-container {
  width: 50%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.image-container img {
  cursor: pointer;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
